* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/mountains2.jpg);
}

/* HEADER */
.logo {
  width: 200px;
  position: fixed;
  z-index: 1000;
  top: 2rem;
  left: 2rem;
}

nav ul {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  list-style: none;
  background-color: #C8B0B0;
  position: fixed;
}

nav li {
  list-style: none;
  margin:2rem 0;
  float: right;
  padding-right: 10rem;
}

a {
  text-decoration: none;
  color: #fff;
}












/* COLORS */

