* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/mountains2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
}

HEADER
.logo {
  width: 200px;
  position: fixed;
  z-index: 1000;
  top: 2.4rem;
  left: 2rem;
  border-radius: .5rem;
}

header {
  position: absolute;
  top: 0;
  position: fixed;
  width: 100%;
}

nav ul {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  list-style: none;
  background-color: rgba(82, 56, 56, 1);
  z-index: 900;
  float: left;
}



nav li {
  display: inline-block;
  list-style: none;
  margin:2rem 0;
  padding-right: 10rem;
  float: right;
}

a {
  text-decoration: none;
  color: #fff;
}

.greeting-container {
  background-color: rgba(82, 56, 56, .5);
  border-radius: .5rem;
  width: 50%;
  margin-top: 20%;
  margin-left: 50%;
  transform:translateX(-50%);
  text-align: center;
  padding: 1rem;
}

.greeting-header {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.greeting-message {
  color: #fff;
  font-size: 2rem;
}

/* HORIZONTAL RULE */
.hr {
  margin: 5rem auto;
  width: 50%;
}

.hr-3 {
  margin: 10rem auto;
  width: 50%;
}

/* SECTION 2 */
.section-2-container {
  text-align: center;
  margin-top: 25rem;
  padding: 3rem 0;
}
 
.far, .fas {
    font-size: 6rem;
    color: #fff;
    border-radius: 1rem;
}

.section-2-blocks {
  display: inline-block;
  margin: 8rem 3rem 3rem 3rem;
}

.icon1 {
  background-color: royalblue;
  padding: 2rem;
}

.icon2 {
  background-color: orange;
  padding: 2rem;
}

.icon3 {
  background-color: khaki;
  padding: 2rem;
}

.icon4 {
  background-color: yellowgreen;
  padding: 2rem;
}

.icon-text {
  font-size: 2rem;

}

/* SECTION 3 */
.standing-by {
  text-align: center;
  font-size: 5rem;
  margin: 8rem 0 8rem 0;
}

.doctor-image {
  float: left;
  width: 40%;
  margin: 0 5rem;
  box-shadow: 0 10px 10px rgba(116, 116, 116, 0.8);
  border-radius: 5px;
}

.doctor-text {
  padding: 10rem 2rem 15rem 2rem;
  font-size: 3rem;
}

/* SECTION-4 */

.section-4-container {
  background-color: rgba(82, 56, 56, .5);
  padding: 2rem 0;
  margin-top: 10rem; 
  margin-bottom: 10rem; 
}

.stats-row {
  text-align: center;
  font-size: 4rem;

}
.stats {
  display: inline-block;
  margin: 0 10rem;
  color: #fff;
  font-weight: bold;
}

/* SECTION-5 */

.urgent-header {
  text-align: center;
  font-size: 5rem;
  margin: 8rem 0 8rem 0;
}

.injury-image {
  float: right;
  width: 30%;
  margin: 0 5rem 0 10rem;
  box-shadow: 0 10px 10px rgba(116, 116, 116, 0.8);
  border-radius: 5px;
}

.urgent-care-text {
  padding: 10rem 5rem 15rem 10rem;
  font-size: 3rem;
}